body{ 
    margin: 0;
    padding: 0;  
    width: 100%;                                           
    background-color: white;	    
 }

#left-colomn{
   width: 60%;
   float: left;
   background-color:aqua;     
}

#right-colomn img{
     width:230px;
     margin-left:140px;
     margin-top:100px;
}

img#logo{
    position:fixed;
    width:150px;
    botton:20px;
    right:10px
}
